.speech {
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    color: black;

}
.direction{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f0f0;
    color: black;
}
.direction:hover{
    background-color:burlywood;
    color: whitesmokeh;
}
.IRINA{
    color: blue;
    
}
.TUZENBACH{
    color:lightcoral;
    
}
.KULIGIN{
    color:green;
 
}
.CHEBUTIKIN{
    color:darkred;
   
}
.VERSHININ{
    color:darkblue;
   
}
.MASHA{
    color:rgb(35, 7, 60);
    
}
.FEDOTIK{
    color:darkolivegreen;
}
table{
    border-style: double;
}
th{
    background-color: darkmagenta;
    color: #f0f0f0;
}
th,td{
    border:1px solid black;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 20px;
    text-align: center;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
tr:nth-child(even){
    background-color:cornsilk;
    color:darkblue;
}
tr:hover{
    background-color: bisque;
}
.IRINA:hover{
  
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.CHEBUTIKIN:hover
{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.VERSHININ:hover{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.TUZENBACH:hover{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.MASHA:hover{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.FEDOTIK:hover{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}
.KULIGIN:hover{
    color: rgb(146, 14, 84);
    text-shadow: 1px 1px 2px red;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px lightskyblue;
}

ul.navbar-vertical {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    
    width:180px;
    background-color :#f0f0f0;
  }
  
  ul.navbar-vertical a {
    display: block; /* all is clickable */
    color:blueviolet;
  }
  /* on hover change the link color*/
  ul.navbar-vertical a:hover {  
    background-color: #b4cae5;
    color:black;
  }
  
  ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  ul.navbar-horizontal li {
    float:left;/* line up horizontally */
    background-color:blueviolet;
  }
  
  ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: aliceblue;
  }
  
  /* on hover change the link color*/
  ul.navbar-horizontal a:hover {  
    background-color:darkgrey;
    color:black;
  }