.speech {
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    color: black;

}
.direction{
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f0f0;
    color: black;
}
.direction:hover{
    background-color:burlywood;
    color: whitesmokeh;
}
.IRINA{
    color: blue;
    
}
.TUZENBACH{
    color:lightcoral;
    
}
.KULIGIN{
    color:green;
 
}
.CHEBUTIKIN{
    color:darkred;
   
}
.VERSHININ{
    color:darkblue;
   
}
.MASHA{
    color:rgb(35, 7, 60);
    
}
.FEDOTIK{
    color:darkolivegreen;
}
table{
    border-style: double;
}
th{
    background-color: darkmagenta;
    color: #f0f0f0;
}
th,td{
    border:1px solid black;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 20px;
    text-align: center;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
tr:nth-child(even){
    background-color:cornsilk;
    color:darkblue;
}
tr:hover{
    background-color: bisque;
}
